doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title JQuery Basic
    link(rel='stylesheet', href='/css/app.css')
  body
    h1 One
    h2 Two
    h3 Three
    p P-Tag

    input#tb1(type='text')

    button#bttn Click Me!
    button#bttn2 Click Me2!
    button#bttn3 Click Me to!
    button#bttn4 Just click.
    button#bttn5 Click?
    button#bttn6 Heeeey!
    button#bttn7 CSS

    script(src='/js/vendor/jquery-2.1.0.js')
    script(src='/js/source/main.js')
